body {
background-color: white;
 font-family: arial, sans-serif;
}

img {
position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

#facts {
font-weight: bold;
  color: black;
  list-style: none;
  
}
#container {
border: 1px solid blue;
  border-radius: 10px;


}
#card {

border: 1px solid blue;
  border-radius: 2px;  
  box-shadow: 3px 6px #dfdfdf;
  
}

div {
padding: 2%

}

#interesting-fact {
font-style: italic;
  text-align: center;
}

h1 {
text-align: center;
}
